body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.btn {
    cursor: pointer;
}

.all-gifs {
    padding: 20px;
}

.all-gifs .gifs-list {
    padding: 20px;
    text-align: center;
}

.all-gifs .more-button {
    display: block;
    margin: auto;
}

.modal-gif {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1000;
      background: rgba(0, 0, 0, 0.9);
}

.modal-gif img {
    display: block;
    margin: auto;
    max-width: 700px;
    margin: 150px auto auto;
    border: 2px solid #FFF
}

.modal-gif .card {
    max-width: 500px;
    margin: 50px auto auto;
}

.gif-item {
    cursor: pointer;
}

.close-btn {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-btn::before,
.close-btn::after {
    position: absolute;
    content: '';
    background: #FFFFFF;
    height: 2px;
    width: 30px;
    transition: backgound 0.2s ease;
}

.close-btn:hover::before,
.close-btn:hover::after {
    background: #0275d8;
    transition: backgound 0.2s ease;
}

.close-btn:before {
    transform: translateX(-15px) translateY(15px) rotate(45deg);
}

.close-btn:after{
    transform: translateX(-15px) translateY(15px) rotate(-45deg);
}

.modal-close {
    position: absolute;
    right: 50px;
    top: 50px;
}